# Docker Compose settings. Optionally copy this file to .env and edit it.
# Application environment; independent of container development mode.
PFW_ENV={{.Environment}}
{{if eq .Template "api"}}DEV_HTTP_PORT=8080
DEV_DB_PORT=5432
{{end}}
