package config

import (
 "errors"
 "net"
 "os"
 "strconv"
 "time"
 pfw "github.com/palma99/palma-framework"
 pfwconfig "github.com/palma99/palma-framework/config"
)

type Config struct { HTTP HTTPConfig `envPrefix:"HTTP_"` }

type HTTPConfig struct {
 Address string `env:"ADDRESS" envDefault:":8080"`
 ReadHeaderTimeout time.Duration `env:"READ_HEADER_TIMEOUT" envDefault:"5s"`
 ShutdownTimeout time.Duration `env:"SHUTDOWN_TIMEOUT" envDefault:"10s"`
}

func (c Config) Validate() error {
 var problems []error
 _, port, err := net.SplitHostPort(c.HTTP.Address)
 number, parseErr := strconv.ParseUint(port, 10, 16)
 if err != nil || parseErr != nil || number == 0 {
  problems = append(problems, pfwconfig.Invalid("HTTP.Address", "must contain a host and a port between 1 and 65535"))
 }
 if c.HTTP.ReadHeaderTimeout <= 0 { problems = append(problems, pfwconfig.Invalid("HTTP.ReadHeaderTimeout", "must be positive")) }
 if c.HTTP.ShutdownTimeout <= 0 { problems = append(problems, pfwconfig.Invalid("HTTP.ShutdownTimeout", "must be positive")) }
 return errors.Join(problems...)
}

func Load(env pfw.Environment) (Config, error) {
 return pfwconfig.Load[Config](pfwconfig.Options{Prefix: "APP_", Environment: env, EnvDir: os.Getenv("PFW_ENV_DIR")})
}
